path:
  pretrainedvit: google/vit-base-patch16-224
  # cifar100label:  '/home/eldad/Workspace/driftiq/Data/cifar100_labelxix'
  filepath: /home/eldad/Workspace/driftiq
  rand_walk: 
    trajpath: ${..filepath}/SavedData/RandomImWalk/Trajectories
    test_trajpath: ${..filepath}/SavedData/RandomImWalk/Test_Trajectories
    eventspath: ${..filepath}/SavedData/RandomImWalk/Events
    test_eventspath: ${..filepath}/SavedData/RandomImWalk/Test_Events
    hitspath: ${..filepath}/SavedData/RandomImWalk/HitLists
    hitspath_test: ${..filepath}/SavedData/RandomImWalk/Test_HitLists
  info_walk: 
    trajpath: ${..filepath}/SavedData/InfoImWalk/Trajectories
    test_trajpath: ${..filepath}/SavedData/InfoImWalk/Test_Trajectories
    eventspath: ${..filepath}/SavedData/InfoImWalk/Events
    test_eventspath: ${..filepath}/SavedData/InfoImWalk/Test_Events
    hitspath: ${..filepath}/SavedData/InfoImWalk/HitLists
    hitspath_test: ${..filepath}/SavedData/InfoImWalk/Test_HitLists
  ts_walk:
    trajpath: ${..filepath}/SavedData/TSImWalk/Trajectories
    test_trajpath: ${..filepath}/SavedData/TSImWalk/Test_Trajectories
    eventspath: ${..filepath}/SavedData/TSImWalk/Events
    test_eventspath: ${..filepath}/SavedData/TSImWalk/Test_Events
    hitspath: ${..filepath}/SavedData/TSImWalk/HitLists
    hitspath_test: ${..filepath}/SavedData/TSImWalk/Test_HitLists

model: 
  name: mxlstmvit

input: 
  height: 96 #??? same as camera.camera_res ???
  width: 96
  frame_intervals: 1

camera:  
  dvs_res: [260,346,3]
  # fictional 
  camera_res: [96,96,3]
  # mod camera_res to dvs_res?
  #center: [${.camera_res}[0]/2 - ${data.im_size}//2, ${.camera_res}[1]/2 - ${data.im_size}//2]
  center: ???

walk:
  ts:
    mu_init: 500
    sigma_init: 50

time:
  fps: 50
  steps: 40
  bins: 40

emulator:
  refrac_pd: 0.0
  threshold: 0.4
  frame_hw: [96,96]

data:
  dataset: CIFAR
  train_eval_split: .85
  nsamples: 50000
  n_classes: ??? #Have to be set in code before usage
  im_size: ???

matrix:
  hidden_size: 3
  region_shape: [1,1]
  region_stride: [1,1]

lstm:
  type: 'LSTM'
  n_layers: 1
  embedding_size: 16

features:
  time: 'delay_norm'
  coords: True 
  normalize_relative: True
  add_coords: True

reproduce:
  seed_everything: null # Union[int, null]
  deterministic_flag: False # Must be true for fully deterministic behaviour (slows down training)
  benchmark: False # Should be set to false for fully deterministic behaviour. Could potentially speed up training.

training:
  precision: 32 # 16-mixed
  max_epochs: 10000
  exp_epochs: 50 # expected number of epochs - for testing - to run to completion - MOD from 25
  max_steps: 400000
  learning_rate: 0.0001 # mod from .0002
  weight_decay: 0.01 # mod from 0 
  gradient_clip_val: 1.0
  limit_train_batches: 1.0
  lr_scheduler:
    use: True
    total_steps: ${..max_steps}
    pct_start: 0.005
    div_factor: 25 # init_lr = max_lr / div_factor
    final_div_factor: 10000 # final_lr = max_lr / final_div_factor (this is different from Pytorch' OneCycleLR param)

validation:
  limit_val_batches: 1.0
  val_check_interval: null # Optional[int]
  check_val_every_n_epoch: 1 # Optional[int]

batch_size:
  train: 16
  eval: 16

hardware:
  num_workers:
    train: 0 # from 6 
    eval: 0 # from 2
  gpus: 0 # Either a single integer (e.g. 3) or a list of integers (e.g. [3,5,6])
  dist_backend: "nccl"

logging:
  ckpt_every_n_epochs: 1
  train:
    metrics:
      compute: false
      detection_metrics_every_n_steps: null # Optional[int] -> null: every train epoch, int: every N steps
    log_model_every_n_steps: 5000
    log_every_n_steps: 500  
    high_dim:
      enable: True
      every_n_steps: 5000
      n_samples: 4
  validation:
    high_dim:
      enable: True
      every_n_epochs: 1
      n_samples, args.reload_path,args.reload_hparams: 8

testing:
  walk: 'random'
  logger: None
  gpu: 1
  reload_path: '/home/renaj/Driftiq/diq/mxlstmvitval27test1/checkpoints/last_epoch=epoch=019-step=step=53140.ckpt'
  reload_hparams: '/home/renaj/Driftiq/lightning_logs/version_141/hparams.yaml'
  use_saved_data: false
  preprocess: true
